/* ////////////////////////////////////////////////////////////////////// GLOBAL /////////////////////////////////// */

:root {

    --black: #000000;
    --white: #ffffff;
    --gray: #181818;
    --moregray: #2c2c2c;
    --moremoregray: #a5a5a5;
    --letras_parrafo: #d3d3d3;
    --letras_link: #4fc7b3;
}

* {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    scroll-behavior: smooth;
}

.link_en_p {  text-decoration: none;   color: var(--letras_link); }


/* ////////////////////////////////////////////////////////////////////// PAGINA /////////////////////////////////// */

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box; 

    background-color: var(--black);

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.centro_body {

    width: 90%;
    box-sizing: border-box;
    padding: 1rem 4rem;
    
    background-color: var(--gray);
    border: 1px solid var(--moregray);

    display: flex;
    flex-direction: column;

}


/* ////////////////////////////////////////////////////////////////////// NAV /////////////////////////////////// */

.nav_body { display: flex; justify-content: center; align-items: center; }

.nav_caja_botones {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    gap: 1rem;

    width: 40%;
    padding: 10px 1rem;

    background-color: var(--moregray);
    border-radius: 30px;

    list-style: none;
    position: sticky;
}

.boton_nav { 

    font-weight: 600;
    color: var(--white);
    text-decoration: none;
}

.boton_nav:hover {  color: var(--letras_link);  }



/* ////////////////////////////////////////////////////////////////////// SECCION1 - INTRODUCCION /////////////////////// */

.inicio_body {

    padding: 1rem 2rem;
    width: 55%;
    color: var(--moremoregray);
}

.inicio_body h1 { font-size: 2.5em; color: var(--white);}

.inicio_body p { margin-bottom: 2rem; color: var(--letras_parrafo);}


.inicio_body_caja_contacto {

    display: flex;
    flex-direction: row;
    justify-content: start;
}

.botoncontacto {  margin-right: 2rem; transition: transform 0.3s ease-in-out; }

.botoncontacto:link, .botoncontacto:visited { color: var(--moremoregray); }

.botoncontacto:hover {  color: var(--letras_link); transform: scale(1.2); transition: transform 0.3s ease-in-out;}



/* ////////////////////////////////////////////////////////////////////// SECCION2 - IMGS /////////////////////////////// */
/* 
.img_body {

    margin: 2rem 0 2rem;
    padding: 1rem 2rem;
    width: 95%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}

.div_img_body {

    width: 20%; 
    max-width: 250px;
}

.div_img_body img {

    max-width: 100%; 
    height: auto;

    border-radius: 30px;
}
 */


/* ////////////////////////////////////////////////////////////////////// SECCION 3 - CARDS /////////////////////////////// */
.cards_body {  display: flex;  flex-direction: row;  width: 100%; }


/* ////////////////////////////////////////////////////////////////////// SECCION 3.1 - CARDS IZQUIERDA ////////////////// */
.cards_body_izq {

    padding: 1rem;
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.card_info { 

    border-radius: 20px;
    padding: 5px 2rem 1rem;

    color: var(--white);
}

.card_info h3 { margin-bottom: -4px; }

.card_info p { font-size: smaller; color:var(--letras_parrafo); text-align: justify; }

.card_info time { color: var(--letras_link); font-size: smaller; }

.card_info:hover {  background-color: var(--moregray); }




/* ////////////////////////////////////////////////////////////////////// SECCION 3.2 - CARDS DERECHA /////////////////// */
.cards_body_der {

    padding: 1rem;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
}

.card_info_der { 

    border-radius: 20px;
    padding: 2rem 2rem;

    border: 1px solid var(--moregray);

    color: var(--white);
}

/* Corrije el espaciado entre el titulo y el icono de mail */
.card_info_der > h3:first-of-type {  display: inline; }
.fa-solid {  color: var(--letras_link); margin-right: 10px; }



/* ////////// EMAIL ////////// */
.contacto_email { 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacto_email input { 

    width: 70%;
    padding: 10px;
    border-radius: 10px;

    background-color: var(--moregray);
    border: 1px solid var(--moremoregray);

    color: var(--white);
}

.card_info_der p { color: var(--letras_parrafo); text-align: justify; }

.contacto_email button { 

    padding: 10px;
    width: 20%;
    border-radius: 10px;
    border: 1px solid var(--moregray);
    background-color: var(--moregray);

    font-weight: 600;
    color: var(--white);

}

.contacto_email button:hover { cursor:pointer; background-color: var(--gray); }

.contacto_email button:active { 

    border: 1px solid var(--letras_link);

    padding: 5px;
    border-radius: 10px;
    width: 20%;
}


/* ////////// CURRICULUM ////////// */
.botonCV { 

    display: block;

    width: 90%;
    padding: 15px;
    border-radius: 10px;

    margin-top: 1rem;

    border: 1px solid var(--moregray); 
    background-color: var(--moregray);

    text-align: center;
    text-decoration: none;
    color: var(--white);
}

.botonCV:hover { background-color: var(--gray); }

.botonCV:active { border: 1px solid var(--letras_link); }


/* ////////////////////////////////////////////////////////////////////// SECCION 4 - FOOTER //////////////////////////////// */
.footer { 
    
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}

.footer_caja_botones { 
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;

    width: 30%;

    list-style: none;
}

.boton_footer { 
    
    font-size: smaller;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
}

.boton_footer:hover {  color: var(--letras_link);  } 

.footer p { 
    
    font-size: small;
    color: var(--moremoregray);
}



/* ////////////////////////////////////////////////////////////////////// PROYECTOS - PAG2 //////////////////////////////// */
.proyectos { 
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;

    width: 100%;
    padding: 1rem;
}

.proyectos_card { 
    
    width: 93%;
    height: auto;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 2rem 2rem;
    border-radius: 15px;
    border: 1px solid var(--moregray);
}
.proyectos_card:hover {  background-color: var(--moregray); }

.proyectos_card_texto { max-width: 500px; height: auto; text-align: justify; }

.proyectos_card_texto p { color: var(--letras_parrafo); font-size: smaller; }

.proyectos_card_texto h3 { color: var(--white); }

.img_proyectos { 

    width: 100%; 
    max-width: 350px;
    height: auto;

    border-radius: 15px;
    object-fit: cover;

    transition: transform 0.5s ease;
}

.imagen_web_1:hover { transform: scale(1.1); transition: transform 0.3s ease; content: url('img/web2.jpg');  object-fit: contain;  }

.imagen_web_2:hover { transform: scale(1.1); transition: transform 0.3s ease; content: url('img/web4.jpg');  object-fit: contain; }

.imagen_web_3:hover { transform: scale(1.1); transition: transform 0.3s ease; content: url('img/web6.jpg');  object-fit: contain; }

.imagen_web_4:hover { transform: scale(1.1); transition: transform 0.3s ease; content: url('img/web8.jpg');  object-fit: contain; }

.imagen_web_5:hover { transform: scale(1.1); transition: transform 0.3s ease; content: url('img/web10.jpg');  object-fit: contain; }

/* ////////////////////////////////////////////////////////////////////// TECNOLOGÃAS - PAG3 //////////////////////////////// */
.tecnologias { 
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;

    width: 100%;
    padding: 1rem;
}

.tecnologias_card {

    width: 70%;
    height: auto;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;

    padding: 2rem 2rem;
    border-radius: 15px;
    border: 1px solid var(--moregray);

    text-align: justify;
}

.tecnologias_card:hover {   background-color: var(--moregray);   }


.tecnologias_card_titulo {

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.tecnologias_card_titulo h2 {  color: var(--white); }

.tecnologias_card p {  color: var(--moremoregray); }

.tecnologias_card_titulo img { max-width: 50px; }

/* Cuando aprenda react saco este */
#process { max-width: 300px; }
    




/* ////////////////////////////////////////////////////////////////////// MEDIA QUERYS //////////////////////////////// */



/* ///////////////////// DESKTOP GIGANTE ///////////////////// */   
@media only screen and (min-width: 1860px) and (max-width: 2687px) {

    /* BODY */
    .centro_body {  justify-content: center;  align-items: center;  }

    /* NAV */
    .nav_caja_botones { width: 100%; }
    .boton_nav li  { font-size: 90%; }


    /* INTRO */
    .inicio_body { width: fit-content; justify-content: center; align-items: center; }
    .inicio_body_caja_contacto { width: 80%;  }
    .inicio_body h1, .inicio_body p { font-size: 90%; }


    /* CARDS DER Y IZQ */
    .cards_body { flex-direction: column; width: 100%; align-items: center; }
    .cards_body_izq, .cards_body_der { width: 60%; font-size: 100%;}
    .contacto_email input{  width: 70%; }
    .contacto_email button { width: 20%; font-size: 70%; }
    .botonCV { width: 97%; font-size: 1rem; } 


    /* FOOTER */
    .footer { width: 90%; flex-direction: column;  justify-content: center;  align-items: center; }
    .footer_caja_botones { margin-right: 5px; justify-content: center; align-items: center; }
    .boton_footer li { font-size: 80%; margin: 5px;}


    /* PROYECTOS */
    .proyectos { flex-direction: column; justify-content: center; align-items: center; }
    .proyectos_card {   padding: 1rem 2rem; }
    .img_proyectos { width: 100%;  }  
    .proyectos_card_texto p { width: 100%;  font-size: 1rem;   }
    

    /* TECNOLOGIAS */
    .tecnologias { align-items: center;  width: 100%; }
    .tecnologias_card { width: 90%; }
}

/* ///////////////////// EN ESTE RANGO VA DESKTOP NORMAL, "COMO SE VE EN MI COMPU - 16" " ///////////////////// */   


/* ///////////////////// NOTEBOOK ///////////////////// */
@media only screen and (min-width: 801px) and (max-width: 1226px) {

    /* BODY */
    .centro_body {  justify-content: center;  align-items: center;  }

    /* NAV */
    .nav_caja_botones { width: 100%; }

    .boton_nav li  { font-size: 90%; }


    /* INTRO */
    .inicio_body { width: 90%; }

    .inicio_body_caja_contacto { width: 90%; }

    .inicio_body h1, .inicio_body p { font-size: 95%; }


    /* CARDS DER Y IZQ */
    .cards_body { flex-direction: column; width: 100%; }

    .cards_body_izq, .cards_body_der { width: 95%; }

    .contacto_email input{  width: 60%;}

    .contacto_email button { width: 25%; font-size: 60%; }


    /* FOOTER */
    .footer { width: 90%; flex-direction: column;  justify-content: center;  align-items: center; }
    .footer_caja_botones { margin-right: 5px; justify-content: center; align-items: center; }
    .boton_footer li { font-size: 80%; margin: 5px;}


    /* PROYECTOS */
    .proyectos { align-items: center; }
    .proyectos_card { flex-direction: row; justify-content: center; align-items: center; }
    .img_proyectos { width: 80%; }  
    .proyectos_card_texto p { width: 90%; }
    

    /* TECNOLOGIAS */
    .tecnologias {  width: 100%;  }
    .tecnologias_card { width: 90%; }
}

/* ///////////////////// TABLET  ///////////////////// */
@media only screen and (min-width: 576px ) and (max-width: 800px) {

    /* BODY */
    .centro_body {  justify-content: center;  align-items: center;  }

    /* NAV */
    .nav_caja_botones { width: 100%; }
    .boton_nav li  { font-size: 75%; }


    /* INTRO */
    .inicio_body { width: 80%; }
    .inicio_body_caja_contacto { width: 90%; }
    .inicio_body h1, .inicio_body p { font-size: 95%; }


    /* CARDS DER Y IZQ */
    .cards_body { flex-direction: column; width: 100%; }
    .cards_body_izq, .cards_body_der { width: 90%; }
    .contacto_email input{ width: 60%;}
    .contacto_email button { width: 25%; font-size: 60%; }
    .contacto_email button:hover { width: 25%; font-size: 60%; }


    /* FOOTER */
    .footer_caja_botones { padding: 0; justify-content: center; align-items: center; }
    .footer { width: 100%; flex-direction: column;  justify-content: flex-start;  align-items:center;  }
    .boton_footer li { font-size: 80%; margin: 5px;}


    /* PROYECTOS */
    .proyectos { align-items: center; }
    .proyectos_card { flex-direction: column; justify-content: center; align-items: center; }
    .img_proyectos { width: 100%; }  
    .proyectos_card_texto p { width: 80%;  overflow: visible;  padding: 2.5rem;}
    

    /* TECNOLOGIAS */
    .tecnologias {  width: 110%;  align-items: center;}
    .tecnologias_card { width: 80%; }
}

/* ///////////////////// CELULAR GRANDE ///////////////////// */
@media only screen and (min-width: 471px ) and (max-width: 575px) {

    /* BODY */
    .centro_body {  justify-content: center;  align-items: center;  width: 90%; }

    /* NAV */
    .nav_caja_botones { width: 180%; }
    .boton_nav li  { font-size: 60%; }


    /* INTRO */
    .inicio_body { width: 80%; align-items: center; }
    .inicio_body_caja_contacto { width: 90%; }
    .inicio_body h1, .inicio_body p { font-size: 95%; }


    /* CARDS DER Y IZQ */
    .cards_body { flex-direction: column; width: 100%; }
    .cards_body_izq, .cards_body_der { width: 90%; }
    .contacto_email input{ width: 60%;}
    .contacto_email button { width: 25%; font-size: 60%; }
    .contacto_email button:hover { width: 25%; font-size: 60%; }


    /* FOOTER */
    .footer_caja_botones { padding: 0; justify-content: center; align-items: center; }
    .footer { width: 100%; flex-direction: column;  justify-content: flex-start;  align-items:center; }
    .boton_footer li { font-size: 80%; margin: 5px;}


    /* PROYECTOS */
    .proyectos { align-items: center; }
    .proyectos_card { flex-direction: column; align-items: center; }
    .img_proyectos { width: 90%; }  
    .proyectos_card_texto p { width: 100%; }
    

    /* TECNOLOGIAS */
    .tecnologias {  width: 110%; align-items: center; } 
    .tecnologias_card { width: 80%; }
}

/* ///////////////////// CELULAR ///////////////////// */
@media only screen  and (min-width: 376px ) and (max-width: 470px) {

    /* BODY */
    .centro_body { justify-content: center;  align-items: center;   width: 90%;  }

    /* NAV */
    .nav_body { width: 130%; }
    .nav_caja_botones { width: 110%; }
    .boton_nav li  { font-size: 55%; }


    /* INTRO */
    .inicio_body { width: 90%; align-items: center; }
    .inicio_body_caja_contacto { width: 100%; }
    .inicio_body h1, .inicio_body p { font-size: 95%; }


    /* CARDS DER Y IZQ */
    .cards_body { flex-direction: column; width: 120%; align-items: center; padding: 0; }
    .cards_body_izq, .cards_body_der { width: 100%; padding: 0; }
    .contacto_email input{ width: 60%;}
    .contacto_email button { width: 25%; font-size: 60%; }
    .contacto_email button:hover { width: 25%; font-size: 60%; }


    /* FOOTER */
    .footer { width: 100%; flex-direction: column;  justify-content: flex-start;  align-items:center; }
    .footer_caja_botones { padding: 0; justify-content: center; align-items: center; }
    .boton_footer li { font-size: 80%; margin: 5px;}


    /* PROYECTOS */
    .proyectos { width: 120%; align-items: center; }
    .proyectos_card { flex-direction: column; align-items: center; }
    .img_proyectos { width: 100%; }  
    .proyectos_card_texto p { width: 100%; }
    

    /* TECNOLOGIAS */
    .tecnologias {  width: 120%; align-items: center; } 
    .tecnologias_card { width: 80%; }
}

/* ///////////////////// CELULAR CHICO ///////////////////// */
@media only screen and (max-width: 375px) {

    /* BODY */
    .centro_body { justify-content: center;  align-items: center; width: 90%; }

    /* NAV */
    .nav_body { width: 145%; }
    .nav_caja_botones { width: 100%; margin: 0.5rem; }
    .boton_nav li  { font-size: 50%; }


    /* INTRO */
    .inicio_body { width: 110%; align-items: center; }
    .inicio_body_caja_contacto { width: 100%; }
    .inicio_body h1, .inicio_body p { font-size: 95%; }


    /* CARDS DER Y IZQ */
    .cards_body { flex-direction: column; width: 130%; align-items: center; padding: 0; }
    .cards_body_izq, .cards_body_der { width: 100%; padding: 0; }
    .contacto_email input{ width: 60%;}
    .contacto_email button { width: 25%; font-size: 60%; }
    .contacto_email button:hover { width: 25%; font-size: 60%; }


    /* FOOTER */
    .footer { width: 100%; flex-direction: column;  justify-content: flex-start;  align-items:center; }
    .footer_caja_botones { padding: 0; justify-content: center; align-items: center; }
    .boton_footer li { font-size: 80%; margin: 5px;}


    /* PROYECTOS */
    .proyectos { width: 130%; align-items: center; }
    .proyectos_card { flex-direction: column; align-items: center; }
    .img_proyectos { width: 100%; }  
    .proyectos_card_texto p { width: 100%; }
    

    /* TECNOLOGIAS */
    .tecnologias {  width: 130%; align-items: center; } 
    .tecnologias_card { width: 80%; }
}


/* DESKTOP GIGANTE -> @media only screen and (min-width: 1200px) { }  */
